<!DOCTYPE html>
<html>
	<head>
	  <meta charset="UTF-8">
	  <title>Project Richmond</title>
	</head>
	<body>
		<h4>開放插花外戰</h4>
		{% if game != None %}
			<table>
				<tr>
					<th>名稱</th>
					<th>描述</th>
					<th>報名費</th>
				</tr>
				<tr>
					<td>{{ game.title }}</td>
					<td>{{ game.desc }}</td>
					<td>{{ game.cost }}</td>
					<td>
						{% if request.user.profile.is_in_daily_game == False %}
							<form action="/joinDaily/" method="post">
								<input type="hidden" name="cost" value={{ game.cost }}>
								<input type="submit" value="參加">
							</form>
						{% else %}
							<a href="/dailyPlayground/">進入遊戲</a>
						{% endif %}
					</td>
				</tr>
			</table>
		{% else %}
			<p>目前暫無開放插花外戰！</p>
		{% endif %}
		<a href="/">回首頁</a>
	</body>
</html>