<!DOCTYPE html>
<html>
	<head>
	  <meta charset="UTF-8">
	  <title>Project Richmond</title>
	  {% load static %}
	  <link rel="stylesheet" href="{% static "css/notification.css" %}">
	</head>
	<body>
		<h3>通知</h3>
		{% if is_empty != None %}
			<table>
				<tr>
					<th>來自</th>
					<th>類別</th>
					<th>時間</th>
				</tr>
				{% load custom_tags %}
				{% for notification in notif_list %}
				<tr>
					<td>{{ notification.n_from }}</td>
					<td>{{ NOTIF_TYPE|get_item:notification.n_type }}</td>
					<!-- time-format: Month date, year, hour:minute AM/PM -->
					<td>{{ notification.created_at|date:"F j, o, g:i A" }}</td>

					{% if notification.is_read == False and notification.n_type != 2 %}
					<td>
						<button type="button" onclick="setIsRead({{ notification.id }})" class="showContent">查看訊息</button>
					</td>
					{% else %}
					<!-- don't set is_read for invitation, set when replied -->
					<td>
						<button type="button" class="showContent">查看訊息</button>
					</td>
					{% endif %}

					{% if notification.is_read == False %}
					<td class="unread" id="unread{{ notification.id }}">未讀</td>
					{% endif %}
				</tr>
				<tr>
					<td colspan="3">
						<div class="notifContent">
							{{ notification.content }}
							{% if notification.n_type == 2 %}
								<form action="/reply/" method="post">
									<input name="id" type="hidden" value="{{ notification.id }}">
									<input name="invitation_created_at" type="hidden" value='{{ notification.created_at|date:"F j, o, g:i A" }}'>
									<input name="invitor" type="hidden" value="{{ notification.n_from }}">
									<input name="action" type="submit" value="接受">
									<input name="action" type="submit" value="拒絕">
								</form>
							{% endif %}
						</div>
					</td>
				</tr>
				{% endfor %}
			</table>
		{% else %}
			<h3>目前沒有新的通知</h3>
		{% endif %}
		<a href="/">回首頁</a>
		<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
		<script src="{% static "js/notification.js" %}"></script>
	</body>
</html>