<!DOCTYPE html>
<html>
	<head>
	  <meta charset="UTF-8">
	  <title>Project Richmond</title>
	  {% load static %}
	  <link rel="stylesheet" href="{% static "css/user_list.css" %}">
	</head>
	<body>
		<table>
			<tr>
				<th>玩家名稱</th>
				<th>玩家信箱</th>
				<th>玩家資產</th>
			</tr>
			{% for user in user_list %}
			<tr>
				<td>
					<a href="/tradeRecord?userRecord={{ user.username }}">{{ user.username }}</a>
				</td>
				<td>{{ user.email }}</td>
				<td>{{ user.profile.assets }}</td>
				{% if is_subscribing.forloop.counter0 %}
				<td><button type="button" id="subscribe{{ user.id }}" onclick="subscribe('{{ user.username }}', {{ user.id }})">關注</button></td>
				{% else %}
				<td><button type="button" title="您已經關注此玩家" id="subscribe{{ user.id }}" onclick="subscribe('{{ user.username }}', {{ user.id }})" disabled>關注</button></td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>

		<h3>邀請單挑</h3>
		<form action="/invite_pk/" method="post">
			<label for="invitee">邀請</label>
			<select name="invitee" id="invitee">
				{% for user in user_list %}
				<option value="{{ user.username }}">{{ user.username }}</option>
				{% endfor %}
			</select><br>

			<label for="timespan">進行時限</label>
			<select name="timespan" id="timespan">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
			</select>週<br>

			<label for="mode">進行模式</label>
			<select name="mode" id="mode">
				{% for mode in pk_mode %}
				<option value="{{ mode.0 }}">{{ mode.1 }}</option>
				{% endfor %}
			</select><br>

			<input type="submit" value="送出">
		</form>

		<div>
			<p class="mode_desc" id="mode1_desc">＊模式說明：績效評比係於單挑進行時限內比較兩人達成之投資績效，績效較高者勝。...</p>
			<p class="mode_desc" id="mode2_desc">＊模式說明：資產評比係於單挑進行時限結束時比較兩人之資產總額，資產較多者勝。...</p>
		</div>

		<a href="/">回首頁</a>
		<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
		<script src="{% static "js/function_user_list.js" %}"></script>
	</body>
</html>