<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Project Richmond</title>
	</head>
	<body>
		<h2>首頁</h2>
		{% if request.user.is_authenticated %}
			<h4>您好，{{ request.user }}</h4>
			<h5>目前共有資產 {{ user.profile.assets }} 元</h5>
			{% if request.user.is_superuser %}
				<a href="admin">管理</a>
				<br>
			{% endif %}
			<a href="trade">實戰區</a>
			<br>
			<a href="dailyGame">插花外戰</a>
			<br>
			<a href="tradeRecord">交易紀錄</a>
			<br>
			<a href="userList">玩家清單</a>
			<br>
			<a href="accounts/logout">登出</a>
		{% else %}
			<h4>您還尚未登入！</h4>
			<a href="accounts/login">登入</a>
		{% endif %}
	</body>
</html>
