<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Project Richmond</title>
	</head>
	<body>
		<h2>股票代號{{ stock_id }}</h2>
		<div>
			<table style="border: 1px solid #666;" rules="all" cellpadding="6">
				<tbody>
					<tr>
						<th>股票代號</th>
						<th>時間</th>
						<th>成交</th>
						<th>買進</th>
						<th>賣出</th>
						<th>漲跌</th>
						<th>張數</th>
						<th>昨收</th>
						<th>開盤</th>
						<th>最高</th>
						<th>最低</th>
						<th>個股資料</th>
					</tr>
					<tr>
						<td>{{ stock_id }}</td>
						<td>{{ current_time }}</td>
						<td>{{ end_price }}</td>
						<td>{{ buy_price }}</td>
						<td>{{ sell_price }}</td>
						<td>{{ change }}</td>
						<td>{{ total_num }}</td>
						<td>{{ yesterday_end }}</td>
						<td>{{ start_price }}</td>
						<td>{{ high_price }}</td>
						<td>{{ low_price }}</td>
						<td><a href={{ info_url }}>{{ stock_info }}</a></td>
					</tr>
					<form action="/addTrade/" method="post">
						<input type="hidden" name="stock_id" value={{ stock_id }}>
						<tr>
							<th>下單</th>
							<td colspan="11">
								<input type="radio" name="buysell" value="b">買
								<input type="radio" name="buysell" value="s">賣
								<input type="text" name="vol" size="5">張
								<input type="hidden" name="price" value={{ end_price }}>
								<input type="submit" value="送出">
							</td>
						</tr>
					</form>
				</tbody>
			</table>
			<h4>資料來源：<a href={{ url }}>Yahoo!股市</a></h4>
		</div>
		<a href="/">回首頁</a>
	</body>
</html>
